extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Michael Chambers

        p.lead.text-light Front-End Web Developer

        .portfolio-bio
          p I'm a web developer based in Los Angeles. After working for several years as composer's assistant to David Kitay (Clueless, Ghost World, Look Who's Talking), I decided to make a career transition and began building skills in front-end web development. I completed the Front-End Web Devlopment TechDegree at Team Treehouse and am currently finishing up the Full Stack JavaScript degree.
          p.
             When I'm not programming I'm usually making music or nerding out on improv. Check out some films I've scored here. #[a(href= 'http://www.michaelchambersmusic.com') | www.michaelchambersmusic.com]
          
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Node
          li Express
          li CSS
          li HTML
          li Gulp
          
        h6 Contact Info

        ul
          li (562) 200-4876
          li mchambers175@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/michael-d-chambers/') LinkedIn
        a.button.expanded(href='https://github.com/chamberino') GitHub
        a.button.expanded(href='https://twitter.com/') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
